<div id="<%= dom_id facility %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= facility.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Provider:</strong>
    <%= facility.provider %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Service:</strong>
    <%= facility.service %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= facility.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= facility.postal_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= facility.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= facility.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= facility.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Website:</strong>
    <%= facility.website %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= facility.latitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= facility.longitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">District:</strong>
    <%= facility.district %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this facility", facility, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this facility', edit_facility_path(facility), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
