<% content_for :body_class do %>h-screen overflow-y-hidden<% end
%>

<% if user_signed_in? and current_user.admin? %>
  <% content_for :top_right do %>
    <%= render(ButtonComponent.new(tag: :a, href: new_facility_path, scheme: :primary)) do %>
      Hinzufügen
    <% end %>
  <% end  %>
<% end %>

<div class="w-full h-full">
  <div
    id="facilities"
    data-controller="map"
    class="w-full h-full grid grid-cols-8 gap-0"
    data-map-maptiler-key-value="<%= Rails.application.credentials.public_maptiler_key %>"
  >
    <div class="col-span-3 h-full overflow-y-scroll">
      <%= turbo_frame_tag 'facilities' do %> <%= render @facilities %>
      <div class="p-5 flex justify-center"><%== pagy_nav(@pagy) %></div>
      <% end %>
    </div>
    <div class="bg-neutral-100 border-r border-neutral-200 col-span-5">
      <div id="map" class="w-full h-full"></div>
    </div>
  </div>
</div>
