<div
  class="block py-5 px-5"
  data-controller="facility"
  data-latitude="<%= @facility.latitude %>"
  data-longitude="<%= @facility.longitude %>"
  data-facility-maptiler-key-value="<%= Rails.application.credentials.public_maptiler_key %>"
>
  <div class="mx-auto">
    <%= render(ButtonComponent.new(tag: :a, href: facilities_path, scheme: :link, class: 'px-0 mb-5 inline-block')) do %>
      Zur Übersicht
    <% end %>
    <div class="grid gap-4 grid-cols-2">
      <div>
        <h1 class="text-3xl font-bold text-lime-600 italic">
          <%= @facility.title %>
        </h1>
        <p class="text-neutral-600"><%= @facility.service %></p>
        <% unless @facility.focus_groups.empty? %>
          <div class="mt-2 transition-transform group-hover:translate-x-2">
            <% @facility.focus_groups.each do |focus_group| %>
            <%= render(ButtonComponent.new(tag: :a, href: focus_group_path(focus_group), size: :small)) do %>
              <%= focus_group.label %>
            <% end %>
            <% end %>
          </div>
        <% end %>
        <p class="mt-4 text-neutral-600 text-sm">
          <b>Angebot von:</b> <br />
          <%= @facility.provider %>
        </p>
      </div>
      <div>
        <div id="facility-map" class="w-full h-72"></div>
        <p><%= @facility.address %></p>
        <p><%= @facility.postal_code %> <%= @facility.city %></p>
        <p>Bezirk: <%= @facility.district %></p>
        <p>Tel.: <%= @facility.phone %></p>
      </div>
    </div>
    <div class="mt-6 mb-32 flex gap-3">
      <% if @facility.email %>
        <%= render(ButtonComponent.new(tag: :a, href: "mailto:#{@facility.email}", scheme: :primary)) do %>
          E-Mail schreiben
        <% end %>
      <% end %>
      <% if @facility.website %>
        <%= render(ButtonComponent.new(tag: :a, href: @facility.website)) do %>
          Website
        <% end %>
      <% end %>
    </div>
    <% if user_signed_in? and current_user.admin?%>
      <%= render(ButtonComponent.new(tag: :a, href: edit_facility_path(@facility))) do %>
        Bearbeiten
      <% end %>
      <div class="inline-block ml-2">
        <%= render(ButtonComponent.new(tag: :button, path: facility_path(@facility), method: :delete, type: :submit, scheme: :danger)) do %>
          Löschen
        <% end %>
      </div>
    <% end %>
  </div>
</div>
