<!DOCTYPE html>
<html>
  <head>
    <title>RailsPoc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= yield :body_class %>">
    <header class="sticky bg-white top-0 left-0 h-[49px] py-2 px-3 flex justify-between gap-2 items-center border-b border-b-neutral-200 z-10">
      <%= link_to "Home", root_path, class: 'py-1 font-medium text-lime-600' %>
      <div>
        <%= yield :top_right %>
      </div>
    </header>
    <% if notice.present? %>
      <div class="w-screen mx-auto absolute top-14 left-0 flex justify-center z-50 pointer-events-none">
        <p
          class="py-2 px-3 bg-lime-50 mb-5 text-lime-600 font-medium rounded-lg inline-block shadow-md"
          id="notice"
        >
          <%= notice %>
        </p>
      </div>
    <% end %>
    <main class="h-[calc(100vh-49px)]">
      <%= yield %>
    </main>
  </body>
</html>
